/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-apr-22, 14:44:49
    Author     : Elev1
*/

#updateBox {
           background-color:MistyRose
                
}

#listBox {
            backround-color: white
}
#titleBox {
        text-align: center
}
label.formLabel {
    
        padding-right: 10px
}