<ui:composition template="layout.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
>
    
     <ui:define name="content">
  

        <div class="row">
            <div class="span twelve light" id="titleBox">  <h1> #{msg['administerStudents']} </h1></div>
             
        </div>
        
        <div id="main_content" class="container">
         <div class="row">
             <div class="span six light" id="listBox">
                 
             <div>
                 <h:dataTable value="#{addDeleteStudent.students}" var="s" class="table table-striped">
                     <f:facet name="header">
                         <h:outputText value ="#{msg['Students']}"/>
                     </f:facet>
                     <h:column rendered="#{addDeleteStudent.students.size() > 0}">
                         
                        <f:facet name="header">
                            <h:outputText value="#{msg['firstName']}"/>
                         </f:facet>
                          
                         <h:outputText value="#{s.firstName}"/>      
                        </h:column>    
                    
                     <h:column rendered="#{addDeleteStudent.students.size() > 0}">
                         <f:facet name="header">
                             <h:outputText  value="#{msg['surName']}"/> 
                             
                         </f:facet>
                         
                         <h:outputText value="#{s.lastName}"/>
                     </h:column>
                     
                     
                     
                     <h:column>
                         <h:form>
                             <h:commandButton action="#{addDeleteStudent.deleteStudent(s.firstName)}" value="#{msg['delete']}" disabled="#{addDeleteStudent.updateMode}">
                             
                             </h:commandButton>
                             <h:commandButton action="#{addDeleteStudent.updateStudent(s.firstName)}" value="#{msg['update']}" disabled="#{addDeleteStudent.updateMode}"
                                             />
                         </h:form>
                                
                        
                       
                     </h:column>

                     
                 </h:dataTable>
             </div>
             </div>   
           <div class="span six light" id="updateBox">  
               <h:form>
                   <div>
                   <label id="nameLabel" for="studentName" class="formLabel"> <h:outputText value="#{msg['Name']}"/> </label>
                   <h:inputText id="studentName" value="#{addDeleteStudent.student.firstName}" required="true"/>
                   <br/>
                   <h:message for="studentName"/>
                   </div>
                   
                   <div>
                   <label for="surName" class="formLabel"> <h:outputText value="#{msg['surName']}"/></label> 
                   <h:inputText id="surName" value="#{addDeleteStudent.student.lastName}" required="true"/>
                   <br/>    
                   <h:message for="surName"/>
                   </div>
                  
                   
                  
                   <div>
                   <label class="formLabel" for="DoB"><h:outputText value="#{msg['DOB']}"/></label>
                   <h:inputText id="DoB" value="#{addDeleteStudent.student.birth}" required="false">
                       <f:convertDateTime type="date" pattern="yy-MM-dd"/>
                   </h:inputText>
                   <br/>
                   <h:message for="DoB"/>
                   </div>
                   <div>
                   <label id="phoneLabel" class="formLabel" for="phoneNumber"> <h:outputText value="#{msg['phoneNumber']}"/></label>
                   <h:inputText id="phoneNumber" required="false"/>
                   <br/>
                   <h:message for="phoneNumber"/>
                   </div>
                   <div>
                   <label for="e-mail" class="formLabel"><h:outputText value="#{msg['E-mail']}"/> </label>
                   <h:inputText id="e-mail" value="#{addDeleteStudent.student.email}" required="false">
                   </h:inputText>
                   </div>
                   <h:message for="e-mail"/>
                   <div>
                   <label for="street" class="formLabel"> <h:outputText value="#{msg['StreetAdresse']}"/></label>
                   <h:inputText id="street" value = "#{addDeleteStudent.student.addressStreet}" required="false"/>
                   <br/>
                   <h:message for="street"/>
                   </div>
                   <div>
                   <label for="postalCode" class="formLabel"><h:outputText value="#{msg['PostalCode']}"/></label>
                   <h:inputText id="postalCode" required="false" value="#{addDeleteStudent.student.addressPostalCode}"/>
                   </div>
                     <label for="city" class="formLabel"><h:outputText value="#{msg['City']}"/></label>
                     <h:inputText id="city" value="#{addDeleteStudent.student.addressCity}" required="false"/>
                     <br/>
                     <label for="country" class="formLabel"><h:outputText value="#{msg['Country']}"/></label>
                     <h:inputText id="country" value="#{addDeleteStudent.student.addressCountry}" required="false"/>
                     <br/>
                    
                     <div>
                     <label> <h:outputText value="#{msg['Comments']}"/></label>
                     <br/>
                     <h:inputTextarea id="comments" value="#{addDeleteStudent.student.note}" required="false"/>
                     </div>
                        
                  
                     <div>
                    <label for="sex" class="formLabel"> <h:outputText value="#{msg['Sex']}"/></label>
                    <h:selectOneMenu id="sex" value="#{addDeleteStudent.student.sex}">
                        <f:selectItem itemValue="M" itemLabel="M"/>
                        <f:selectItem itemValue="F" itemLabel="F"/>
                    </h:selectOneMenu> 
                        <br/>
                     <h:message for="sex"/>
                     </div>
                     <div>
                     <h:commandButton action="#{addDeleteStudent.addStudent()}" value="#{msg['addStudent']}"/>
                     <h:commandButton type="reset" value="#{msg['reset']}" rendered="#{!addDeleteStudent.updateMode}"/>
                     <h:commandButton action="#{addDeleteStudent.saveUpdateStudent()}" rendered="#{addDeleteStudent.updateMode}" value="#{msg['update']}"/>
                     <br/>
                     <h:commandButton rendered="#{addDeleteStudent.updateMode}" value="cancel update" action="#{addDeleteStudent.cancelUpdate()}"/>
                     </div>
                     </h:form>   
           
           </div>
        
              
         </div> 
        </div>
      
     </ui:define>
</ui:composition>

