<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html" locale="#{localizationBean.locale}">
        <h:head>
            <f:facet name="first" >
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <h:outputStylesheet library="css" name="bijou.min.css"/>
                
                
                <style>
/*                    Dessa två ser till så att menyn syns utanför top-panel.*/
                        .ui-layout-north {
        z-index:20 !important;
        overflow:visible !important;
    }
    .ui-layout-north .ui-layout-unit-content {
        overflow:visible !important;
    }
                </style>
                <title>Välkommen till Konrad-2, Din Lokala Administratörssystemslösning!</title>
            </f:facet>
        </h:head>

        <h:body>

      <div class='grid'>
        <div class='row'>
          <div class='span twelve dark' style="margin:0;">
          <p:menubar>
            <p:submenu label="#{msg.Users}">
                <p:menuitem value="#{msg.Administer}" url="faces/login.xhtml" />
            </p:submenu>

            <p:submenu label="#{msg.Courses}">
                <p:menuitem value="#{msg.Administer}" url="faces/index.xhtml" />
              <p:menuitem value="#{msg.Administer_course_type}" url="http://www.primefaces.org/showcase-labs/ui/home.jsf" />
            </p:submenu>
            <p:submenu label="#{msg.Teachers}">
                <p:menuitem value="#{msg.Administer}" url="http://www.primefaces.org/showcase-labs/ui/home.jsf" />
            </p:submenu>
            <p:submenu label="#{msg.Students}">
                <p:menuitem value="#{msg.Administer}" url="faces/addDeleteStudent.xhtml" />
                <p:menuitem value="#{msg.Take_attendance}" url="http://www.primefaces.org/showcase-labs/ui/home.jsf" />
                <p:menuitem value="#{msg.Attendance_report}" url="http://www.primefaces.org/showcase-labs/ui/home.jsf" />
            </p:submenu>
                </p:menubar>
         </div>
            <div class='row'>
          <div class='span twelve dark' style="margin:0;text-align:right;background:#EEE">
             <div style='float:right'>
              <ui:include src="login.xhtml"/>
             </div>
               <div style='float:right'>
              <ui:include src="localization.xhtml"/>
             </div>
            
          
          </div>
        </div>
        </div>
        <div class='row'>
          <div class='span three dark'></div>
          
          <div class='span six light'>
              <ui:insert name="content">
                  <h3>Välkommen till Konrad-2, Din Lokala Administratörssystemslösning!</h3>
              </ui:insert></div>
        <div class='span three dark'></div>
        </div> 
      </div>   
        </h:body>
    </f:view>
</html>

