<ui:composition 
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
>
    
        <div style="width:300px">  
            
         
            <h:form>
                <div class="form-group" >
<!--                    <Label for="language">#{msg.choose_locale}</Label>-->
                 
                    <p:selectOneMenu label="#{msg.choose_locale}" value="#{localizationBean.locale}" onchange="submit()"
			valueChangeListener="#{localizationBean.localeChanged}">
   			<f:selectItems value="#{localizationBean.locales}" /> 
                    </p:selectOneMenu>
                </div>
            </h:form>
        </div>
   
</ui:composition>
