<ui:composition 
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
>
    
        <div style="margin:0px">  
            
         
            <h:form rendered="#{!login.isLoggedIn()}" style='margin:0px'>
<!--                <div class="form-group" style='margin:0px'>-->
                  <Label for="username" style='margin:0px'>#{msg['Enter_username']}</Label>
                  <h:inputText id="username" value="#{login.userName}" class="form-control" style='margin:0px'/>
<!--                </div>-->
                
                <label for="password" style='margin:0px'>#{msg['Enter_password']}</label>
                <h:inputSecret id="password" value="#{login.password}" class="form-control" style='margin:0px'/>
                
                <h:commandButton  action="#{login.doLogin()}" value="#{msg['Log_in']}" class="btn btn-success"/>
            </h:form>
        </div>
        
        <h:outputLabel rendered="#{login.isLoggedIn()}"> #{login.userName}#{msg['You_are_logged_in']}</h:outputLabel>
     
</ui:composition>
